.work-heading::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #0081fe;
  right: 105%;
  top: 50%;
  transform: translateY(-50%);
}

.card {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  position: relative;
  padding: 20px;
  transition: 0.5s; /* Smooth transition for transform property */
}

.card button,
.card h1,
.card p,
.card svg {
  transition: transform 0.7s ease; /* Smooth transition for transform property */
}

.card::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  opacity: 0.1;
  border: 10px solid white;
  border-radius: 20px;
  bottom: -80px; /* Adjust the distance from the bottom */
  left: -50px;
  transform: rotate(5deg) translateY(10px); /* Rotate and move up */
  transition: transform 1s ease;
  z-index: -1;
}

.card:hover::after {
  transform: rotate(10deg) translateY(-100px); /* Move further up */
  z-index: 1; /* Ensure pseudo-element is behind the button */
}

.card:hover {
  background: #0081fe;
}

.card:hover h1,
.card:hover p {
  color: white;
}

.card:hover button {
  color: #0081fe;
  background-color: white;
  transform: translateY(-10px);
  z-index: 2; /* Ensure button is above other content */
  position: relative;
}

.card:hover svg rect {
  fill: white;
}

.card:hover svg path {
  fill: #0081fe;
}

.card:hover svg {
  transform: scale(1.5) translate(20%, 20%);
}
.edit-image {
  position: relative;
}
.edit-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0081fe;
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  transform: rotate(-15deg);
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slider {
  margin: 0 130px;
  overflow: hidden;
  position: relative;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 25s linear infinite;
  animation: scroll 25s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 6);
}
.slider .slide {
  height: 70px;
  padding: 10px 30px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}
