.about {
  background-color: #feffff;
}

a {
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .about {
    padding: 0 20px;
    margin-bottom: 40px !important;
  }
  .right-section .lastBox {
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 990px) {
  .about-content {
    padding: 0 20px;
    /* margin-bottom: 40px !important; */
    flex-direction: column !important;
    align-items: center;
  }
  .about-content .right-section {
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0;
  }
  .about-content .middleBox {
    margin: 80px 0 20px 0;
  }
}
