.about {
  background-color: #feffff;
}
.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 250px;
  height: 200px;
}
a {
  cursor: pointer;
}
