@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
:root {
  --mainColor: #0081fe;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif !important;
  /* overflow-x: hidden; */
}

.bg-main {
  background-color: var(--mainColor) !important;
}

.text-main {
  color: var(--mainColor);
}

.brdr-main {
  border-color: var(--mainColor);
}

/* Primeng */
.p-carousel-container {
  margin: 0 80px;
}

@media (max-width: 768px) {
  .p-carousel-container {
    margin: 0 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .p-carousel-container {
    margin: 0 60px;
  }
}

@media (min-width: 1025px) {
  .p-carousel-container {
    margin: 0 100px;
  }
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  width: 3rem;
  height: 3rem;
  color: #0081fe;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: none;
  margin: 0.5rem;
}

button .p-icon {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
}

.p-steps .p-steps-item .p-menuitem-link {
  background: transparent;
  transition: none;
  border-radius: 0.375rem;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: #8d8d8d;
  border: 2px solid #dcdcdc;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin-top: 0.5rem;
  color: #8d8d8d;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #002b54;
  border-radius: 10px;
}

.p-steps-item.p-steps-current .p-menuitem-link {
  background-color: #f2f9ff;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  border: 2px solid var(--mainColor);
  background-color: white;
  color: var(--mainColor);
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 600;
  color: #002b54;
}

.p-steps .p-steps-item:before {
  content: " ";
  border-top: 2px solid #dcdcdc;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
}

.p-password,
.p-inputtext {
  width: 100%;
}

.p-dropdown {
  border-radius: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.p-dropdown-label {
  overflow: visible;
}

.p-toast {
  font-size: 12px;
  padding: 0.5rem;
}

.p-toast-message {
  padding: 0;
}

.p-toast .p-toast-message.p-toast-message-error {
  background-color: #fde7e8;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 1rem;
}
/* Adjust the size of the message content */
.p-toast-message-content {
  font-size: 1rem;
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 0.5rem;
  border-color: #f25a67;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 1rem;
  height: 1rem;
}
/* Adjust the size of the message summary and detail */
.p-toast-summary,
.p-toast-detail {
  font-size: 1rem; /* Adjust the font size as needed */
}

.country-dropdown .p-dropdown {
  width: 100%;
}
